@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 3.6rem;
  }

  .logo-big {
    display: none;
  }
  .logo-small {
    display: block;
    height: 4rem;
  }
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .flags {
    display: none;
  }

  /* .btn-mobile-nav {
    display: block;
  } */

  .lata-doswiadczen {
    background-color: #fff;
    /* display: grid; */
  }

  .lata-imgs {
    display: grid;
    gap: 3.2rem;
  }

  .globalny-zasieg-img {
    display: none;
  }

  .globalny-zasieg-flag {
    display: grid;
  }

  .lata-text-sec {
    max-width: 100%;
  }

  .lata-img {
    width: 40rem;
    height: 40rem;
  }
  .globalny-zasieg {
    padding-top: 1.8rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    background-color: #fff;
  }

  .glob {
    justify-content: center;
    padding-bottom: 0;
  }

  .globalny-zasieg-text {
    margin-top: 3.6rem;
    max-width: 40rem;
  }

  .globalny-zasieg-flag {
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    column-gap: 0;
    margin-bottom: 2.4rem !important;

    align-items: center;
  }

  .zasieg-flag {
    width: 15rem;
    height: 15rem;
  }

  .heading-primary-zas {
    text-align: center;
    font-size: 4.8rem;
    white-space: nowrap;
    letter-spacing: 0;
  }

  .heading-secondary-zas {
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: 0;
  }

  .container {
    max-width: 100vw;
  }

  .container-2 {
    max-width: 100vw;
  }

  .zasieg-cel-btn {
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
  }

  .zas-cta:link,
  .zas-cta:visited {
    font-size: 2.4rem;

    text-align: center;
    padding: 2rem 2rem;
  }
}
